// grid
// $gutter: 30px;
// $grid-columns: 12;

// breakpoints
// $xsmall: 480px;
// $small: 576px;
// $medium: 768px;
// $large: 992px;
// $xlarge: 1200px;

// fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'PT Serif', serif;


// colors
$dark: #2e2e30;
$grey: #838d8f;
// $color-main: #31353e;
// $color-bg: #edeff1;
// $brown: #612316;
// $orange: #dd4b2b;
// $light-orange: #d75d0e;
// $white: #fff;
// $fiord: #4b4e73;
// $light-grey: #f3f4f6;
